@media (max-width: 1024px) {

    .navbar-collapse {
        background: rgba(0, 0, 0,.6);
        text-align: center;
        padding-left: 1rem;
    }

    .image-box img {
        left: 0rem;
    }

}

@media (max-width: 768px) {

    /* Hero section */
    .image-box {
        display: none;
    }

    /* Services section */
    #services .device img {
        margin-bottom: 2rem;
    }

    /* About section */
    #about{
        margin-bottom: 6rem;
    }

    /* Contact section */
    #contact .address {
        margin-top: 2rem;
    }

    /* footer section */
    .footer-logo {
        margin-top: -1rem;
    }

    /* Services section */
    #services img {
        max-width: 300px;
    }

}


@media (max-width: 768px) {

    /* Hero section */
    .main-hero-content h1 {
        text-align: center;
    }

    .main-hero-content p {
        text-align: center;
    }

    .hero-buttons {
        text-align: center;
        padding-bottom: 2rem;
    }

    /* Services section */
    #services {
        margin-top: 0;
    }
    
}