@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900&display=swap');

:root {
    --main-accent-color: #F4C414;
    --section-title-color-dark: #242424;
    --body-color: #495057;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.6rem;
    line-height: 4rem;
    font-weight: 800;
}

.btn-white {
    border: 2px solid #ffffff;
    border-radius: 2rem;
    color: #ffffff;
    font-weight: 600;
    text-transform: lowercase;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-white:hover {
    background-color: #ffffff;
    color: var(--main-accent-color);
    border: 2px solid #ffffff;
}

.sections{
    transition: all .4s;
}

/* Section title */
.section-title {
    position: relative;
}

h2.section-title-heading {
    color: var(--section-title-color-dark);
    padding-top: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
}

.section-title::after {
    content: '';
    position: absolute;
    border-bottom: 2px solid var(--main-accent-color);
    width: 8%;
    top: 80px;
}

.section-title:hover::after {
    width: 12%;
    transition: all 0.6s ease-out;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
}


/* ============ IMAGENS =============== */

img[data-src] {
    opacity: 0;
    transform: scale(0);
}

img[src] {
    opacity: 1;
    transform: scale(1);
    transition: .3s ease-in-out;
}

/* ============ NAVIGATION =============== */

.navbar {
    padding-top: 1.2rem;
    transition: 1s;
}

.navbar-brand img{
    width: 150px;
    transition: .3s ease-in-out;
}

.fa-bars{
    color:#fff; 
    border:none; 
    font-size:28px;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .85rem;
}

.logo-none img{
    display: none !important;
    transition: 1s;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active {
    color: #F4C414;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;..");
}



.navbar.active{
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 1px 2px 10px rgba(0,0,0,0.1);
    transition: 1s;
    color: white;
}

/* ============ HERO =============== */

#start {
    background-image: linear-gradient(to right, rgba(0,0,0), rgba(0,0,0,0.9),  rgba(0,0,0, 0.8)), url('../img/hero-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 8rem;
    padding-bottom: 8rem;
    position: relative;
}

#start::after {
    content: '';
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 14%;
    transform: skewY(-2deg);
    transform-origin: bottom right;
    bottom: 0;
    right: 0;
    left: 0;

}

.main-hero-content h1 {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .11rem;
}

.main-hero-content p {
    color: #ffffff;
    margin-top: 2rem;
    margin-bottom: 3rem;
    line-height: 1.7rem;
    font-size: 1.2rem;
}

.image-box img {
    position: absolute;
    top: 4rem;
    z-index: 1;
}

/* ============ ABOUT =============== */

#about i {
    color: var(--main-accent-color);
    padding: 4%;
}

#about h3 {
    color: var(--section-title-color-dark);
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#about p {
    color: var(--body-color);
    font-size: 1rem;
    line-height: 1.7rem;
}

/* ============ Services =============== */

#services {
    background-color: #e2e2e2;
    padding-bottom: 6rem;
    padding-top: 4rem;
    margin-top: 6rem;
}

#services .device img {
    margin-top: 50%;
}

#services img {
    display: block;
    margin: 0 auto;
    transition: all 0.5s;
    cursor: pointer;
    position:relative;
}

#services .service-block {
    text-align: center;
}

#services .service-block h3 {
    color: var(--section-title-color-dark);
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#services .service-block img {
    padding-bottom: 1rem;
}

#services .service-block p {
    color: var(--body-color);
    font-size: 1rem;
    line-height: 1.7rem;
}

/* ============ PHOTOS CARS =============== */


#photoscars {
    background-image: linear-gradient(to right, rgba(0, 0, 0), rgba(0,0,0, 0.8)), url('../img/photoscar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 15rem;
    position: relative;
}

#photoscars .photoscars-title h2 {
    padding-top: 10rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
}

#photoscars .photoscars-title p {
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-top: 2.5rem;
}

#photoscars .photoscars-title .photoscars-btns a {
    border: 2px solid #ffffff;
    border-radius: 2rem;
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    padding: .8rem 2rem;
}

.btnphotos{
    position: absolute;
    z-index: 99;
    top: 40%;
    right: 2%;
    color: #fff;
    font-weight: bold;
    font-size: 48px;
}

/* #btnprevious{
    position: absolute;
    z-index: 99;
    top: 40%;
    right: 2%;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

#btnnext{
    position: absolute;
    z-index: 99;
    top: 40%;
    left: 2%;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
} */

.miniaturas{
    margin: .6rem;
    display: inline-block;
}

.miniaturas img{
    max-width: 150px;
    border: solid #F4C414 1px;
    transition: .3s;
    cursor: pointer;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
    filter: gray;
}

.miniaturas img:hover{
    -webkit-filter: none;	
    filter: none;	
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/* ============ ZOOM IMG =============== */

#popup {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 50px 2px #000;
    padding-bottom: 5px;
  }
  #close {
    width: 100px;
    background-color: #cc0033;
    color: #ffffff;
    border: none;
    margin-left: 5px;
  }

/* ============ Contact =============== */
#contact {
    background-color: #e2e2e2;
    padding-bottom: 10rem;
    padding-top: 1rem;
    position: relative;
}

#contact::before {
    content: '';
    position: absolute;
    background-color: #E2E2E2;
    width: 100%;
    height: 20%;
    transform: skewY(-2deg);
    transform-origin: top right;
    top: -6rem;
    right: 0;
    left: 0;
}

.btn-contact {
    background: #000;
    padding: .5rem 2.2rem;
    color: #F4C414;
    font-weight: 600;
    border-radius: 2rem;
    border: 2px solid #000;
}

.btn-contact:hover {
    background: #ffffff;
    color: #000;
    border: 2px solid #F4C414;
}

#contact .contact-details ul li {
    padding-bottom: .8rem;
}

#contact .contact-details ul li i {
    color: #F4C414;
    font-size: 1.2rem;
}

/* ============ Footer =============== */
#footer {
    background-color: #2b323f;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
}

#footer::before {
    content: '';
    position: absolute;
    background-color: #2b323f;
    width: 100%;
    height: 32%;
    transform: skewY(-2deg);
    transform-origin: top right;
    top: -5.5rem;
    right: 0;
    left: 0;
}

.social-icons{
    font-size: 24px;
}

#footer .footer-logo img {
    margin-top: -4.5rem;
}

.footer-logo img {
    padding: 70px 0px 30px 0px;
    max-width: 250px;
}

#footer .social-icons {
    margin-top: -1rem;
}

#footer .social-icons a {
    margin-right: 10px;
    color: #8d8c8c;
}

.copyright p {
    margin-top: 1rem;
    color: #ffffff;
    font-size: .9rem;
}